## Strings

Strings are a very important data type in all languages.  In Python, strings may
be quoted several ways:

In [1]:
inputfile = "data.txt"
outputfule = 'output.txt'
triplequotes = """woah!
split lines"""
print(triplequotes)

woah!
split lines

This also works:

In [2]:
triple_single_quotes = '''I am a string too.
I can span multiple lines!'''
print(triple_single_quotes)

I am a string too.
I can span multiple lines!

### Quotes in quotes

In Python, we can quote strings with either single (`'`) or double quotes (`"`).
Sometimes we want to create a string that contains quotes.  This is easy to do!

Strings quoted with `'` can contain `"`:

In [3]:
'Bob said, "it is hot out there today".'

'Bob said, "it is hot out there today".'

Strings quoted with `"` can contain `'`:

In [4]:
"Python, it's a wonderful language"

"Python, it's a wonderful language"

Or we can escape the quote with `\`:

In [5]:
'it\'s not Nick\'s birthday today'

"it's not Nick's birthday today"

In [6]:
"I don't always quote my strings, but when I do, I prefer \""

'I don\'t always quote my strings, but when I do, I prefer "'

### Strings versus numbers

In [7]:
a = 5
b = '5'
a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [8]:
print("type(a): ", type(a))
print("type(b): ", type(b))

type(a):  <class 'int'>
type(b):  <class 'str'>

It is simple to convert between numbers and strings!

In [9]:
# convert int to a string
a = str(55)
print(a)
print(type(a))

55
<class 'str'>

In [10]:
# convert string to a float
a = float("99.45")
print(a)
print(type(a))

99.45
<class 'float'>

### String slicing

In [11]:
quote = """That's all folks!"""
print(quote[2])
print(quote[7:10])
print(quote[:4])
print(quote[7:])
print(quote[:-7])

a
all
That
all folks!
That's all

One way to remember how slices work is to think of the indices as pointing
between characters, with the left edge of the first character numbered `0`. Then
the right edge of the last character of a string of `n` characters has index
`n`, for example:

In [12]:
word = 'Python'

```
+---+---+---+---+---+---+
| P | y | t | h | o | n |
+---+---+---+---+---+---+
0   1   2   3   4   5   6
-6  -5  -4  -3  -2  -1
```

In [13]:
word[-2:]

'on'

### Strings are immutable

We can access an individual character of a string:

In [14]:
a = 'hello'
a[0]

'h'

We cannot change any part of a string:

In [15]:
a[0] = 'k'

TypeError: 'str' object does not support item assignment

### Concatenation


Concatenate (add together) strings with `+`:

In [16]:
b = 'j' + a[1:]
b

'jello'

This creates a new string.

### String functions / methods

In [17]:
name = 'Leland'

In [18]:
len(name)

6

In [19]:
name.lower()

'leland'

In [20]:
name.upper()

'LELAND'

In [21]:
name.find('lan')

2

In [22]:
name.find('lan', 1, 4)

-1

There are many [string methods][py-str-methods].

[py-str-methods]: https://docs.python.org/3/library/stdtypes.html#string-methods

### String formatting

It is often important to create strings formatted from a combination of strings,
numbers, and other data.  In Python 3 this is best handled by the `format`
string method.  Here is a simple example:

In [23]:
name = "Nick"
course = 'CME211'
print("My name is {0}. I am the instructor for {1}.".format(name,course))

My name is Nick. I am the instructor for CME211.

Format strings contain "replacement fields" surrounded by curly braces `{}`.
Anything that is not contained in braces is considered literal text, which is
copied unchanged to the output. If you need to include a brace character in the
literal text, it can be escaped by doubling: `{{` and `}}`.  The number in the
braces refers to the order of arguments passed to `format`.  Numbers don't need
to be specified if the sequence of braces has the same order as arguments:

In [24]:
program = 'CME'
number = 211
print("this course is: {}-{}".format(program,number))

this course is: CME-211

String formatting is a good way to combine text and numeric data.

String formatting is also how we control the output of floating point numbers:

In [25]:
print("    {{:f}}: {:f}".format(42.42))
print("    {{:g}}: {:g}".format(42.42))
print("    {{:e}}: {:e}".format(42.42))
print("  {{:.2e}}: {:.2e}".format(42.42))
print("{{: 8.2e}}: {: 8.2e}".format(42.42))
print("{{: 8.2e}}: {: 8.2e}".format(-1.0))

    {:f}: 42.420000
    {:g}: 42.42
    {:e}: 4.242000e+01
  {:.2e}: 4.24e+01
{: 8.2e}:  4.24e+01
{: 8.2e}: -1.00e+00

See the [Python Format Mini-Language docs][py-format-lang] and more [examples][py-format-examples].

[py-format-lang]: https://docs.python.org/3/library/string.html#format-specification-mini-language
[py-format-examples]: https://docs.python.org/3/library/string.html#format-examples