## Logical operations in Python

### Numeric comparisons

There are eight comparison operations in Python. Comparisons can be chained
arbitrarily; for example, `x < y <= z` is equivalent to `x < y and y <= z`.

Here is a summary of the Python comparison operators:

* `<`: strictly less than
* `<=`: less than or equal
* `>`: strictly greater than
* `>=`: greater than or equal
* `==`: equal
* `!=`: not equal

All of these operations return a boolean values (`True` or `False`):

In [1]:
5 > 2

True

In [2]:
2 != 3

True

In [3]:
3.0 <= 3.0

True

In [4]:
x = -1.0
0 <= x <= 1

False

In [5]:
42 == 42

True

Note: floating point numbers should never be tested for equality with `==`.
Floating point numbers are approximations of real numbers, thus they should be
tested for approximate equality:

In [6]:
.1 == .21 - .11

False

Why?

In [7]:
.21 - .11

0.09999999999999999

A good way to do this is use [`math.isclose`][math.isclose] for Python versions
3.5 and above:

In [8]:
import math
math.isclose(.1,.21-.11)

True

[math.isclose]: https://docs.python.org/3/library/math.html#math.isclose

### Boolean operations

The Python boolean operations are:

* `x or y`:	if `x` is false, then `y`, else `x`
* `x and y`:	if `x` is false, then `x`, else `y`
* `not x`: if `x` is false, then `True`, else `False`

In [9]:
print(True or False)
print(False or False)

True
False

In [10]:
print(True and False)
print(True and True)

False
True

In [11]:
print(not True)
print(not False)

False
True

These logical operators are typically used to combine a comparisons:

In [12]:
a = 2
b = 3
print(a == 2 and b == 3)
print(a == 2 or b == 4)

True
True

In [13]:
x = 5
# test if x is not in range (0,10)
print(x <= 0 or x >= 10)

False